<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Register if you are a new user</h1>
    <ul>
        <li>
            <h4>Already Registerd? Go to login</h4>
            <a href="/login">Login</a>
        </li>
    </ul>
    <form action="/register-done" method="POST">
        <label for="">Name:</label>
        <input type="text" name="name">
        <label for="">Email:</label>
        <input type="email" name="email">
        <label for="">Password:</label>
        <input type="text" name="password">
        <button type="submit">Register</button>
    </form>
</body>
</html>